/* Styles for Trivia Game */
body {
    background-image: url(../images/dundermifflin.JPG);
    width: auto;
    height: auto;
    background-size: cover;
}

video {
    max-width: 33%;
    max-height: 30%;
}

#trivia-display {
    display: none;
}