/* Styles for Trivia Game */
body {
    background-image: url(../images/dundermifflin.jpg);
    width: auto;
    height: auto;
    background-size: cover;
}

video {
    max-width: 33%;
    max-height: 30%;
}

#trivia-div {
    display: none;
    background-color: white;
    opacity: 0.7;
    text-align: center;
}

#result-div {
    display: none;
    background-color: white;
    text-align: center;
}

#start {
    align-content: center;
}